@model Nemesys.ViewModels.AdminCreate

    
    <div class="signin-card">
        <p class="h3 text-center megrim">Create New Admin </p>
        <form asp-action="Create" asp-controller="Admin" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">

                <label asp-for="UserType" class="col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="UserType" class="form-control">
                        <option value="Reporter">Reporter</option>
                        <option value="Investigator">Investigator</option>
                        <option value="Administrator">Administrator</option>
                    </select>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <div class="col-offset-2 col-md-10">
                    <input type="submit" class="btn btn-outline-secondary" value="Register" />
                </div>
            </div>
        </form>
    </div>