<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark gray  box-shadow mb-3">
        <div class="row m-4 w-100">
            <div class="container d-block text-center" id="Make-single">
                <a class="navbar-brand megrim" asp-area="" asp-controller="Home" asp-action="Index">N E M E S Y S</a>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Hall of Fame</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login | Sign-up</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>