@using Microsoft.AspNetCore.Identity
@using Nemesys.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<header>
    <nav class="settotop navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="row m-4 w-100">
            <div class="container d-block text-center" id="Make-single">
                <a class="navbar-brand megrim" asp-area="" asp-controller="Home" asp-action="Index">N E M E S Y S</a>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Hall_Of_Fame">Hall of Fame</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Report" asp-action="Index">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Investigation" asp-action="Index">Investigations</a>
                    </li>

                    <li class="nav-item dropdown text-right">
                        <a id="manage navbarDropdown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true">@UserManager.GetUserName(User)</a>
                        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                            <a id="manage" class="nav-link dropdown-item" aria-expanded="false" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                            <a class="nav-link" asp-area="" asp-controller="Investigation" asp-action="MyInvestigations">My Investigations</a>
                            <div class="dropdown-divider"></div>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-center dropdown-item">Logout</button>
                            </form>
                            @* <a class="dropdown-item text-white" href="#">Logout</a>  *@
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>