@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-3">
     <img class="text-white" src="~/images/eye.png" alt="eye" id="eye"/>
    <h1 class="display-4">N E M E S Y S</h1>
    <div class="container">
        <p>Near miss exposure | Reporting system</p>
            <button type="button" class="btn btn-outline-warning">Start reporting now</button>
    </div>
   
</div>
 