@{
    ViewData["Title"] = "Home Page";
}


    
    <div class="text-center mt-3 container">
        <div id="ringa">
            <img class="text-white" src="~/images/eye.png" alt="eye" id="eye" />
            <h1 class="MainTitle megrim">NEMESYS</h1>
            <div class="container">

                <p>Near miss exposure | Reporting system</p>
                <span></span>
               
                <a asp-area="" asp-controller="Report" asp-action="Create" type="button" class="btn btn-outline-danger settotop">Start reporting now</a>
            </div>
        </div>
    </div>
 