
@{
    ViewData["Title"] = "Signup";
}

<h1>Sign-Up</h1>

<form asp-controller="Home" asp-action="Create" method="post">
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="form-group">
        <label for="email">E-mail Address</label><br>
        <input type="email" id="email" name="email" required placeholder="john@example.com"><br>
    </div>
    <div class="form-group">
        <label for="confirm-email">Confirm E-mail Address</label><br>
        <input type="email" id="confirm-email" name="confirm-email" required placeholder="john@example.com"><br>
    </div>
    <div class="form-group">
        <label for="username">Username</label><br>
        <input type="text" id="uname" name="username" required placeholder="Username"><br>
    </div>
    <div class="form-group">
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required placeholder="Password"><br>
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label><br>
        <input type="password" id="confirm-password" name="confirm-password" required placeholder="Password"><br>
    </div>
    
        <input type="submit" value="Submit" class="btn btn-primary">
    
</form>