@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

    <div class="text-center signin-card">
        <h1 class="megrim">@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>