
@{
    ViewData["Title"] = "Investigations";
}

    <div class="container">
        <h1>Investigations</h1>
                  
            @foreach(var investigation in Model)
            {
                
                <div class="investigation-block">
                    <div class="investigation-left">
                        <h3>PLACE TITLE HERE</h3>
                        <p class="investigation-date">@investigation.StartDate</p>
                    </div>
                    <div class="investigation-right">
                        <div class="investigation-details">
                            <p class="investigation-description">@investigation.Report.Description</p>
                            <button>Investigate</button>
                        </div>
                        <div class="investigation-status">
                            <p>@investigation.Report.Status</p>
                        </div>
                        
                    </div>
                </div>
            }

        <p>END</p>
        
    </div>

